@charset "utf-8";

// If need, change your variables before importing Bulma
$background-color: #E2F0F3;
$header-color: #0D1B1E;
$header-text-color: #fff;
$primary-color: #52A4B7;
$primary-color-dark: #2A5A65;
$red-important: #D61F34;

@import "~bulma/bulma.sass";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800&display=swap');

// CSS Stylesheet
body {
    font-family: 'Nunito', sans-serif;
    background-color: $background-color;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
    font-weight: 700;
}

// Container {
.container {
    max-width: 800px;
}

// Navigation Bar
.navbar {
    background-color: $header-color;
    padding: 10px 30px;

    .logo img {
        height: 75px;
        max-height: none;
    }

    .navbar-item {
        color: $header-text-color;
        font-weight: 700;
        padding: 0px 30px;
        border-bottom: 2px solid $header-color;
        letter-spacing: 1px;
    }

    a.navbar-item.logo:focus, a.navbar-item.logo:hover {
        border-bottom: 2px solid $header-color !important; 
    }
    
    a.navbar-item:focus, a.navbar-item:focus-within, 
    a.navbar-item:hover, a.navbar-item.is-active, 
    .navbar-link:focus, .navbar-link:focus-within, 
    .navbar-link:hover, .navbar-link.is-active {
        background-color: $header-color; 
        color: $header-text-color;
        border-bottom: 2px solid $header-text-color;     
    }

    .navbar-burger {
        height: auto;
        color: $header-text-color;
    }

    .button.is-primary {
        background-color: $primary-color;
        font-size: 0.9em;
        padding: 15px 30px;
    }

    .button.is-primary:hover {
        background-color: $primary-color-dark;
    }

}

// Welcome Display 
.welcome {
    background-color: $header-color;
    padding: 80px;

    h1 {
        color: $header-text-color;
    }
}

// Disabled
.disabled {

    padding: 30px 0;

    p {
        background-color: #fff;
        padding: 20px 30px;
        border-radius: 5px;
        border: 1px solid #E0978F;
    }

    a {
        color: $primary-color-dark;
    }

    a:hover {
        color: $primary-color;
    }
    
}

// Search Bar
.search {
    input {
        border: 1px solid $primary-color;
    }

    input:hover {
        border: 1px solid $primary-color-dark;
    }
}

// LinkCards 
.linkCard {
    background-color: #fff;
    padding: 20px 30px;
    margin: 0 0 20px 0;
    border-radius: 5px;
    border: 1px solid $primary-color;

    p {
        font-weight: 700;
        padding-bottom: 10px;
        font-size: 1.1em;
    }

    li {
        padding: 5px 0;
    }

    a {
        color: $primary-color-dark;
    }

    a:hover {
        color: $primary-color;
    }
}

// Disclaimer
.disclaimer {
    background-color: #fff;
    padding: 80px;

    .tag {
        background-color: $red-important;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
    }

    h2 {
        margin: 15px 0;
    }

    p {
        padding-bottom: 15px;
        line-height: 1.8em;
    }

}

// Footer
footer {
    background-color: $header-color;

    hr {
        margin: 0;
        background-color: #314246;
    }

    img {
        height: 60px;
    }

    p {
        color: $header-text-color;
        padding: 10px 0 0 0;
        font-size: 0.9em;
    }
}

// Smaller screen fixes
@media screen and (max-width: 1023px) {
    .navbar-menu {
        background-color: $header-color;
        text-align: center;
    }

    .navbar a.navbar-item:focus, 
    .navbar a.navbar-item:focus-within, 
    .navbar a.navbar-item:hover, .navbar a.navbar-item.is-active, 
    .navbar .navbar-link:focus, .navbar .navbar-link:focus-within, 
    .navbar .navbar-link:hover, .navbar .navbar-link.is-active {
        border-bottom: 2px solid $header-color; 
    }

    .navbar .navbar-item {
        padding: 15px 30px;
    }

    .navbar a.navbar-item.logo {
        padding: 0 30px;
    }

    .navbar-end .buttons {
        display: block;
    }
}